<div class="container mt-4">

    <div class="row mt-4" style="font-family: serif;">
        <h4>{{nom_type_Demande}}</h4>
    </div>

    <div class="row mt-4">
        <p style="text-align: center">تم تسجيل معلوماتك بشكل جيد ، لإكمال طلبك ، يرجى تقديم المستندات المذكورة أدناه</p>
        <p style="text-align: center">Vos informations sont bien enregistrées, pour compléter votre demande merci de fournir les piéces mentionnées ci-dessous</p>
    </div>

    <div class="row mt-4">
    <ul class="list-group">
        <li *ngFor="let pieceJointe of pagePiecesJointes" class="list-group-item">{{pieceJointe.nom}}</li>
    </ul>
    </div>

    <div class="mt-5">
        <a href="formCitoyen" class="btn btn-warning">Précédent</a>
        <a href="finalCitoyen" class="btn btn-primary">Suivant</a>
    </div>

</div>