<div class="container mt-4">

    <div class="row mt-4" style="font-family: serif;">
        <h4>{{nom_type_Demande}}</h4>
    </div>

    <div class="row mt-4">

        <table>
            <tr>
                <th>Etat de demande</th>
                <th>Type de demande</th>
                <th>Date de création</th>
                <th></th>
                <th></th>
            </tr>
            
            <tr *ngFor="let demande of demandes">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
    
        </table>

    </div>

</div>
