<div class="container mt-4">

    <div class="row" *ngFor="let typeDemande of pageTypesDemandes">

        <div class="col-sm-6">
            <a class="card mt-4" (click)="toListeDemandes(typeDemande)" style="text-decoration:none; color:black; background-color: #8FBC8F">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-family: serif;">{{typeDemande.name}}</h5>
                </div>
            </a>
        </div>

    </div>

</div>