<div class="container mt-4">

    <div class="row mt-4" style="font-family: serif;">
        <h4>{{nom_type_Demande}}</h4>
    </div>

    <div class="row mt-4">
        <p style="text-align: center">المرجو التاكد من صحة هذه المعلومات</p>
        <p style="text-align: center">Merci de vérifier si ces informations sont bien correctes</p>
    </div>

    <div class="row mt-6">

        <div class="col-6">

            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Nom</label>
                  <input type="text" class="form-control" name="nom" placeholder="Nom" value="">
                </div>
                <div class="col-6">
                  <label class="form-label">Prénom</label>
                  <input type="text" class="form-control" name="prenom" placeholder="Prénom" value="">
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Lieu de naissance</label>
                  <input type="text" class="form-control" name="lieu_naissance" placeholder="Lieu de naissance" value="">
                </div>
                <div class="col-6">
                  <label class="form-label">Date de naissance</label>
                  <input type="date" class="form-control" name="date_naissance" placeholder="Date de naissance" value="">
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Pére</label>
                  <input type="text" class="form-control" name="prenom_pere" placeholder="Pére" value="">
                </div>
                <div class="col-6">
                  <label class="form-label">Mére</label>
                  <input type="text" class="form-control" name="prenom_mere" placeholder="Mére" value="">
                </div>
            </div>
      
            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Adresse</label>
                  <input type="text" class="form-control" name="adresse" placeholder="Adresse" value="">
                </div>
                <div class="col-6">
                  <label class="form-label">Numéro de l'état civil</label>
                  <input type="text" class="form-control" name="n_etat_civil" placeholder="Numéro de l'état civil" value="">
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Numéro de la CIN</label>
                  <input type="text" class="form-control" name="cin" placeholder="Numéro de la CIN" value="">
                </div>
                <div class="col-6">
                  <label class="form-label">Téléphone</label>
                  <input type="number" class="form-control" name="tele" placeholder="Téléphone">
                </div>
            </div>
      
            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">Métier</label>
                  <input type="text" class="form-control" name="metier" placeholder="Métier">
                </div>
                <div class="col-6">
                  <label class="form-label">Sexe</label>
                  <input type="text" class="form-control" name="sexe" placeholder="Sexe">
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-6">
                  <label class="form-label">E-Mail</label>
                  <input type="email" class="form-control" name="email" placeholder="E-Mail">
                </div>
            </div>

        </div>

        <div class="col-6">

            <div>
                <img src="">
            </div>
      
            <div>
                <img src="">
            </div>

        </div>

    </div>

    <div class="mt-5">
        <div class="col-6">
            <a href="" class="btn btn-warning">Précédent</a>
        </div>
        <div class="col-6">
            
        </div>
    </div>

</div>