<html dir='rtl' lang='ar' xml:lang='ar'>

<head>

<style>
body{
font-size: large;
}
</style>

 <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

 </head>

 <body>

    <div id="content" #content>

المملكة المغربية<br>
وزارة الداخلــــية<br>
عمالـــــــة اقليم الرحامنة<br>
باشوية ابن جرير<br>
الملحقة الإدارية الثانية<br>
عدد ....................../2020<br>
<h1 style='text-align: center'>شهادة السكنى</h1>

  يشهد القائد رئيس الملحقة الإدارية الثانية  بناء على البحث الذي آجراه<br>
   عون السلطة ...........................................أن السيد (ة) :<br>
   الاسم الشخصي : {{citoyen.prenom_arabe}}<br>
   الاسم العائلي    : {{citoyen.nom_arabe}}<br>
   المزداد بتاريخ  : {{citoyen.date_naissance}}<br>
   بطاقة التعريف الوطنية رقم : {{citoyen.cin}}<br>
   يســكـــن   : {{citoyen.adresse_arabe}}<br>
   سلمت له هذه الشهادة بطلب منه لأجل  :.............................................<br>
   <p style='text-align: center'>
   حــــرر ابن جرير بتــــــاريـــخ :
   <br>
   الإمضاء :  
   </p>
   <br>

</div>
 
 </body>

 </html>




<!--<div id="content" #content>

    المملكة المغربية<br>
وزارة الداخلــــية<br>
عمالـــــــة اقليم الرحامنة<br>
باشوية ابن جرير<br>
الملحقة الإدارية الثانية<br>
عدد ....................../2020<br>
<h1 style='text-align: center'>شهادة السكنى</h1>

  يشهد القائد رئيس الملحقة الإدارية الثانية  بناء على البحث الذي آجراه<br>
   عون السلطة ...........................................أن السيد (ة) :<br>
   الاسم الشخصي : {{citoyen.prenom_arabe}}<br>
   الاسم العائلي    : {{citoyen.nom_arabe}}<br>
   المزداد بتاريخ  : {{citoyen.date_naissance}}<br>
   بطاقة التعريف الوطنية رقم : {{citoyen.cin}}<br>
   يســكـــن   : {{citoyen.adresse_arabe}}<br>
   سلمت له هذه الشهادة بطلب منه لأجل  :.............................................<br>
   <p style='text-align: center'>
   حــــرر ابن جرير بتــــــاريـــخ :
   <br>
   الإمضاء :  
   </p>
   <br>

</div>-->


<a (click)="makePDF()" class="btn btn-primary">Create PDF</a>